* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #666;
    color: #fff;
}

.panel {
    margin: 10px;
    padding: 10px;
    border: 2px solid #a1a1a1;
    border-radius: 6px;
}

h2:first-child {
    margin-top: 0;
}

.flex {
    display: flex;
}

form {
    flex: 1 1 70%;
}

label {
    align-self: center;
}

#sayThis {
    flex: 1 1 auto;
    font-size: 20px;
    background: #a1a1a1;
    border: none;
    padding: 6px 10px;
    margin: 0 10px;
}

.c-history {
    flex: 1 1 30%;
}

.c-soundboard {
    flex: 1 1 70%;
}

.clickable {
    cursor: pointer;
    flex: 1 1 auto;
    background: #4a4a4a;
    padding: 7px 15px;
}

.phrase-btn {
    display: flex;
    margin: 5px 0;
}